@charset "utf-8";
/*存放一些 插件的css*/
/*关于字体*/
@font-face {font-family: "wfyfont";
	src: url('../iconfont/iconfont.eot'); /* IE9*/
	src: url('../iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
	url('../iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"wfyfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*插件之 页脚*/
footer{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    z-index: 99;
    border-top: 1px solid #CCC;}
footer div{
    float: left;
    width: 20%;height: 60px;line-height:30px;
    font-size:13px;
    text-align: center;
}
footer div span{
    display: block;height: 30px;line-height:20px;
    font-family: "wfyfont"!important;
    font-size:26px;
}
/*插件之 顶部*/
header{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 17px;
    color: #FFF;
    z-index:99;
    background-color: #3CC51F;
}
.head_back {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    font-family: "wfyfont";
    font-size: 30px;
    line-height: 30px;
}
.head_more {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    font-family: "wfyfont";
    font-size: 30px;
    line-height: 30px;
}

/*
 *load 转圈 加载 效果
 * css3实现的动画效果
 * 2017.4.10
 * */
.loadingBg{position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;}
.loadbox{position: fixed;
    z-index: 50000;
    width: 7.6em;
    min-height: 7.6em;
    top: 180px;
    left: 50%;
    margin-left: -3.8em;
    background: rgba(40,40,40,.75);
    text-align: center;
    border-radius: 5px;
    color: #fff;    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    visibility: hidden;
    margin: 0;
    left: 7.5%;
    top: 30%;
    z-index: 100;left: 50%;
    top: 35%;
    margin-left: -3.8em;}
.loadboxshow{
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.weui_loading_leaf {
    position: absolute;
    top: -1px;
    opacity: .25;
}
.weui_loading_leaf:before {
    content: " ";
    position: absolute;
    width: 8.14px;
    height: 3.08px;
    background: #d1d1d5;
    box-shadow: 0 0 1px rgba(0,0,0,.0980392);
    border-radius: 1px;
    -webkit-transform-origin: left 50% 0;
    transform-origin: left 50% 0;
}

.weui_loading {
    position: absolute;
    width: 0;
    z-index: 1;
    left: 50%;
    top: 38%;
}

.weui_loading_leaf_0 {
    -webkit-animation: opacity-60-25-0-12 1.25s linear infinite;
    animation: opacity-60-25-0-12 1.25s linear infinite;
}
.weui_loading_leaf_0:before {
    -webkit-transform: rotate(0deg) translate(7.92px, 0px);
    transform: rotate(0deg) translate(7.92px, 0px);
}
.weui_loading_leaf_1 {
    -webkit-animation: opacity-60-25-1-12 1.25s linear infinite;
    animation: opacity-60-25-1-12 1.25s linear infinite;
}
.weui_loading_leaf_1:before {
    -webkit-transform: rotate(30deg) translate(7.92px, 0px);
    transform: rotate(30deg) translate(7.92px, 0px);
}
.weui_loading_leaf_2 {
    -webkit-animation: opacity-60-25-2-12 1.25s linear infinite;
    animation: opacity-60-25-2-12 1.25s linear infinite;
}
.weui_loading_leaf_2:before {
    -webkit-transform: rotate(60deg) translate(7.92px, 0px);
    transform: rotate(60deg) translate(7.92px, 0px);
}
.weui_loading_leaf_3 {
    -webkit-animation: opacity-60-25-3-12 1.25s linear infinite;
    animation: opacity-60-25-3-12 1.25s linear infinite;
}
.weui_loading_leaf_3:before {
    -webkit-transform: rotate(90deg) translate(7.92px, 0px);
    transform: rotate(90deg) translate(7.92px, 0px);
}
.weui_loading_leaf_4 {
    -webkit-animation: opacity-60-25-4-12 1.25s linear infinite;
    animation: opacity-60-25-4-12 1.25s linear infinite;
}
.weui_loading_leaf_4:before {
    -webkit-transform: rotate(120deg) translate(7.92px, 0px);
    transform: rotate(120deg) translate(7.92px, 0px);
}
.weui_loading_leaf_5 {
    -webkit-animation: opacity-60-25-5-12 1.25s linear infinite;
    animation: opacity-60-25-5-12 1.25s linear infinite;
}
.weui_loading_leaf_5:before {
    -webkit-transform: rotate(150deg) translate(7.92px, 0px);
    transform: rotate(150deg) translate(7.92px, 0px);
}
.weui_loading_leaf_6 {
    -webkit-animation: opacity-60-25-6-12 1.25s linear infinite;
    animation: opacity-60-25-6-12 1.25s linear infinite;
}
.weui_loading_leaf_6:before {
    -webkit-transform: rotate(180deg) translate(7.92px, 0px);
    transform: rotate(180deg) translate(7.92px, 0px);
}
.weui_loading_leaf_7 {
    -webkit-animation: opacity-60-25-7-12 1.25s linear infinite;
    animation: opacity-60-25-7-12 1.25s linear infinite;
}
.weui_loading_leaf_7:before {
    -webkit-transform: rotate(210deg) translate(7.92px, 0px);
    transform: rotate(210deg) translate(7.92px, 0px);
}
.weui_loading_leaf_8 {
    -webkit-animation: opacity-60-25-8-12 1.25s linear infinite;
    animation: opacity-60-25-8-12 1.25s linear infinite;
}
.weui_loading_leaf_8:before {
    -webkit-transform: rotate(240deg) translate(7.92px, 0px);
    transform: rotate(240deg) translate(7.92px, 0px);
}
.weui_loading_leaf_9 {
    -webkit-animation: opacity-60-25-9-12 1.25s linear infinite;
    animation: opacity-60-25-9-12 1.25s linear infinite;
}
.weui_loading_leaf_9:before {
    -webkit-transform: rotate(270deg) translate(7.92px, 0px);
    transform: rotate(270deg) translate(7.92px, 0px);
}
.weui_loading_leaf_10 {
    -webkit-animation: opacity-60-25-10-12 1.25s linear infinite;
    animation: opacity-60-25-10-12 1.25s linear infinite;
}
.weui_loading_leaf_10:before {
    -webkit-transform: rotate(300deg) translate(7.92px, 0px);
    transform: rotate(300deg) translate(7.92px, 0px);
}
.weui_loading_leaf_11 {
    -webkit-animation: opacity-60-25-11-12 1.25s linear infinite;
    animation: opacity-60-25-11-12 1.25s linear infinite;
}
.weui_loading_leaf_11:before {
    -webkit-transform: rotate(330deg) translate(7.92px, 0px);
    transform: rotate(330deg) translate(7.92px, 0px);
}
@-webkit-keyframes opacity-60-25-0-12 {
    0% {
        opacity: 0.25;
    }
    0.01% {
        opacity: 0.25;
    }
    0.02% {
        opacity: 1;
    }
    60.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.25;
    }
}
@-webkit-keyframes opacity-60-25-1-12 {
    0% {
        opacity: 0.25;
    }
    8.34333% {
        opacity: 0.25;
    }
    8.35333% {
        opacity: 1;
    }
    68.3433% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.25;
    }
}
@-webkit-keyframes opacity-60-25-2-12 {
    0% {
        opacity: 0.25;
    }
    16.6767% {
        opacity: 0.25;
    }
    16.6867% {
        opacity: 1;
    }
    76.6767% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.25;
    }
}
@-webkit-keyframes opacity-60-25-3-12 {
    0% {
        opacity: 0.25;
    }
    25.01% {
        opacity: 0.25;
    }
    25.02% {
        opacity: 1;
    }
    85.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.25;
    }
}
@-webkit-keyframes opacity-60-25-4-12 {
    0% {
        opacity: 0.25;
    }
    33.3433% {
        opacity: 0.25;
    }
    33.3533% {
        opacity: 1;
    }
    93.3433% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.25;
    }
}
@-webkit-keyframes opacity-60-25-5-12 {
    0% {
        opacity: 0.270958333333333;
    }
    41.6767% {
        opacity: 0.25;
    }
    41.6867% {
        opacity: 1;
    }
    1.67667% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.270958333333333;
    }
}
@-webkit-keyframes opacity-60-25-6-12 {
    0% {
        opacity: 0.375125;
    }
    50.01% {
        opacity: 0.25;
    }
    50.02% {
        opacity: 1;
    }
    10.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.375125;
    }
}
@-webkit-keyframes opacity-60-25-7-12 {
    0% {
        opacity: 0.479291666666667;
    }
    58.3433% {
        opacity: 0.25;
    }
    58.3533% {
        opacity: 1;
    }
    18.3433% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.479291666666667;
    }
}
@-webkit-keyframes opacity-60-25-8-12 {
    0% {
        opacity: 0.583458333333333;
    }
    66.6767% {
        opacity: 0.25;
    }
    66.6867% {
        opacity: 1;
    }
    26.6767% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.583458333333333;
    }
}
@-webkit-keyframes opacity-60-25-9-12 {
    0% {
        opacity: 0.687625;
    }
    75.01% {
        opacity: 0.25;
    }
    75.02% {
        opacity: 1;
    }
    35.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.687625;
    }
}
@-webkit-keyframes opacity-60-25-10-12 {
    0% {
        opacity: 0.791791666666667;
    }
    83.3433% {
        opacity: 0.25;
    }
    83.3533% {
        opacity: 1;
    }
    43.3433% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.791791666666667;
    }
}
@-webkit-keyframes opacity-60-25-11-12 {
    0% {
        opacity: 0.895958333333333;
    }
    91.6767% {
        opacity: 0.25;
    }
    91.6867% {
        opacity: 1;
    }
    51.6767% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.895958333333333;
    }
}
.weui_toast_content {
    margin-top: 64%;
    font-size: 14px;
}
/*--------------------------------------------dialog----------------------------------------------*/
.dia_shade{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0,0);
    -webkit-animation: opacity-06 0.2s ease-in forwards;
    animation: opacity-06 0.2s ease-in forwards;
}
@-webkit-keyframes opacity-06 {
    0% {
        background-color:rgba(0,0,0,0);
    }
    100% {
        background-color:rgba(0,0,0,0.6);
    }
}
.dia_shade_hide{
    -webkit-animation: op-06 0.2s ease-in forwards;
    animation: op-06 0.2s ease-in forwards;
}
@-webkit-keyframes op-06 {
    0% {
        background-color:rgba(0,0,0,0.6);
    }
    100% {
        background-color:rgba(0,0,0,0);
    }
}
.dia_slideModle{
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 20%;
    max-height: 70%;
    width: 100%;
    background-color: #FFF;
    transition: 200ms;
    -webkit-transition: 200ms;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    z-index: 1001;
}
.y100{transform:translate3d(0, 100%, 0); -webkit-transform:translate3d(0, 100%, 0);}
.y_100{transform:translate3d(0, -100%, 0); -webkit-transform:translate3d(0, -100%, 0);}
.x100{transform:translate3d(100%, 0, 0); -webkit-transform:translate3d(100%, 0, 0);}
.x_100{transform:translate3d(-100%, 0, 0); -webkit-transform:translate3d(-100%, 0, 0);}
.op{background-color: rgba(0,0,0,0.6)}
.dia_cont{
    width: 100%;
    overflow: hidden;
}
.dia_cont_tip{
    line-height: 50px;
    text-align: center;
    color:#888888;
    font-size:13px;
    background-color: #fff;
}
.borbot{
    border-bottom: 1px solid #D9D9D9;
}
.dia_cont_delete{
	height: 40px;line-height: 40px;
	color: #f00;
}
.dia_cont_cancle{
    height: 40px;line-height: 40px;
}
.dia_line_10{
    width: 100%;
    height: 10px;
    background-color:#D9D9D9;
}






















































